{:duct.database/sql
 {:connection-uri "jdbc:sqlite:db/test.sqlite"}

 :duct.migrator/ragtime
 {:migrations [#ig/ref :{{sanitized-name}}.migration/create-tasks]
  :strategy :rebase}

 [:duct.migrator.ragtime/sql :{{sanitized-name}}.migration/create-tasks]
 {:up   ["CREATE TABLE tasks (id INTEGER PRIMARY KEY, \"first-name\" TEXT, \"last-name\" TEXT, age INTEGER, \"created-at\" TEXT DEFAULT CURRENT_TIMESTAMP);",
         "INSERT INTO tasks(id, \"first-name\", \"last-name\", age) VALUES
         (1, 'Lars', 'Larssen', 10),
         (2, 'Markus', 'Olafsson', 20);"]
  :down ["DROP TABLE tasks"]}}
