{:framework.db.storage/postgresql {:port     5433
                                   :dbname   "{{name-to-path}}"
                                   :host     "localhost"
                                   :dbtype   "postgresql"
                                   :user     "postgres"
                                   :password "postgres"}

 :framework.db.storage/migration  {:store                :database
                                   :migration-dir        "resources/migrations"
                                   :init-in-transaction? false
                                   :migration-table-name "migrations"}

 :framework.app/ring              {:defaults {:params    {:urlencoded true
                                                          :multipart  true
                                                          :nested     true
                                                          :keywordize true}
                                              :cookies   true
                                              :session   {:flash true
                                                          :cookie-attrs
                                                                 {:http-only true, :same-site :strict}}
                                              :security  {:anti-forgery         true
                                                          :xss-protection
                                                                                {:enable? true, :mode :block}
                                                          :frame-options        :sameorigin
                                                          :content-type-options :nosniff}
                                              :static    {:resources "public"}
                                              :responses {:not-modified-responses true
                                                          :absolute-redirects     true
                                                          :content-types          true}}}

 :framework.app/web-server        {:port  3000
                                   :join? false}

 :acl/permissions                 {
                                   ;"posts"    [:read :create :update :delete]
                                   ;"users"    [:read :create :update :delete]
                                   }

 :acl/roles                       {
                                   ;:user        [{:resource "posts"
                                   ;               :actions  [:read]
                                   ;               :over     :all}
                                   ;              {:resource "posts"
                                   ;               :actions  [:create :update :delete]
                                   ;               :over     :own}]
                                   ;:admin       [{:resource :all
                                   ;               :actions  [:all]
                                   ;               :over     :all}]
                                   }

 }
